<mat-card class="purring-card">
  <mat-card-header>
    <mat-icon mat-card-avatar class="icon-avatar" color="accent">account_box</mat-icon>
    <mat-card-title> User </mat-card-title>
    <mat-card-subtitle>{{ purring?.publicationDate | date : 'short' }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{ purring?.content }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-icon-button (click)="performLike()">
      <mat-icon *ngIf="purring?.alreadyLiked">favorite</mat-icon>
      <mat-icon *ngIf="!purring?.alreadyLiked">favorite_border</mat-icon>
    </button>
    {{ purring?.likeCounter }}
  </mat-card-actions>
</mat-card>
